/*
 *Name: [Nirmiti Nerkar]
 *UnityID: [nhnerka2]
 *Date: [4/16]
 *Assignment: [Indepent Assignment 4]
 *Description: [Assignment Description]
 */
 
p {
	font-family:Times;
	font-size: 20px;
	color: #FFFFFF
}

.class {
    property: value;
}

#id {
    property:value;
}
